@import 'typography/typography-tokens';
@import 'colors/color-use-tokens';
@import 'spacing/spacing-tokens';
@import 'spacing/radius-tokens';

body {
    background-color: $ui-background;
}

// Typography styling
//HEADINGS
#heading-01{
    @include heading-01($font-name);
}

#heading-02{
    @include heading-02($font-name);
}

#heading-03{
    @include heading-03($font-name);
}

#heading-04{
    @include heading-04($font-name);
}
 
#heading-05{  
    @include heading-05($font-name);
}

#heading-06{
    @include heading-06($font-name);
}

//SUBTITLES
#subtitle-01 {
    @include subtitle-01($font-name);
}

#subtitle-02 {
    @include subtitle-02($font-name);
}

//BODY
#body-01 {
    @include body-01($font-name);
}

#body-02 {
    @include body-02($font-name);
}

//SUPPORTIVE
#button {
    @include button($font-name);
}

#caption {
    @include caption($font-name);
}

#overline {
    @include overline($font-name);
}
//typography styling end

//BUTTON STYLING

.button {
    width: 6.5rem;
    height: 2.5rem;
    display: flex;
    color: $white;
    cursor: pointer;
    text-align: center;
    border-radius: $radius-micro;
}

.button_icon {
    justify-content: center;
    width: 8.25rem;
    height: 2.563rem;
    display: flex;
    align-items: center;
    color: $white;
    cursor: pointer;
    position: relative;
    border-radius: $radius-small;
}

.left_icon {
    position: absolute;
    left: $spacing-05;
    margin: auto;
    padding: 0;
}

.right_icon {
    margin: auto;
    padding: 0;
    position: absolute;
    left: 92px;
}

.button_base_state {
    background-color: $gray-90;
    color: $white;
}


.button_hide_focus{
    border:none;
}

.button_text{
    margin: auto;
    @include button('Rubik');
    font-family: 'Rubik', sans-serif;
}

.button_icon_text{
    position: absolute;
    @include button('Rubik');
    left: 3.5rem;
    margin: auto;
    font-family: 'Rubik', sans-serif;
}


.button_tertiary_text{
    position: absolute;
    @include button('Rubik');
    left: 3.5rem;
    margin: auto;
    color: $blue-50;
    font-family: 'Rubik', sans-serif;
}

.button_tertiary_text_right{
    position: absolute;
    @include button('Rubik');
    left: 1.75rem;
    margin: auto;
    color: $blue-50;
    font-family: 'Rubik', sans-serif;
}

.interactive_focus{
    width: fit-content;
    padding: $spacing-01;
    border: solid 2px $blue-50;
    border-radius: $radius-small;
}

//PRIMARY BUTTON STYLES
.primary_button_active_state {
    background-color: $blue-50;
}

.primary_button_hover_state {
    background-color: $blue-60;
}

.primary_button_clicked_state{
    background-color: $blue-40;
}

.primary_button_disabled_state{
    background-color: $gray-70;
}

//TERTIARY BUTTON STYLES
.tertiary_button_active_state {
    background-color: none;
}

.tertiary_button_hover_state {
    background-color: $gray-80;
}

.tertiary_button_clicked_state{
    background-color: none;
}

.tertiary_button_disabled_state{
    background-color: none;
}

//SECONDARY BUTTON STYLES
.secondary_button_active_state {
    background-color: $gray-20;
}

.secondary_button_hover_state {
    background-color: $gray-30;
}

.secondary_button_clicked_state{
    background-color: $gray-10;
}

.secondary_button_disabled_state{
    background-color: $gray-70;
}


//DANGER BUTTON STYLES
.danger_button_active_state {
    background-color: $red-50;
}

.danger_button_hover_state {
    background-color: $red-70;
}

.danger_button_clicked_state{
    background-color: $red-30;
}

.danger_button_disabled_state{
    background-color: $gray-70;
}


//LINK STYLES
.link-container{
    width: fit-content;
    height: fit-content;
}

.link-container-focus{
    border: solid 1px $blue-50;
    padding: $spacing-01 $spacing-01;
}

.link-body-01{
    @include body-01('Rubik');
    font-family: 'Rubik', sans-serif;
}

.link-body-02{
    @include body-02('Rubik');
    font-family: 'Rubik', sans-serif;
}

.link-active{
    color: $blue-50;
}

.link-hover{
    color: $blue-60;
}

.link-clicked{
    color: $blue-40;
}

.link-disabled{
    color: $gray-70;
}

//TAG STYLES
.tag-container{
    margin: $spacing-02;
   display: flex;
   align-items: center; 
   justify-content: center;
   border-radius: 1rem;
   width: 4.56rem;
   height: 1.875rem;
   background-color: $blue-50; 
}

.tag-text{
    @include caption('Rubik');
    font-family: 'Rubik', sans-serif;
    color: $white;
}

.tag-container-interactive{
    margin: $spacing-02;
    padding: 0 $spacing-03;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 1rem;
    width: 93px;
    height: 32px;
    background-color: $blue-50; 
}

.interactive-icon{
    margin-left: $spacing-02;
    cursor: pointer;
}

.base-group{
    display: flex;
}

.tag-base-style{
    background-color: $gray-90;
}
//CHECKBOX STYLES
.unselected-checkbox{
    width: $spacing-03;
    height: $spacing-03;
    border: solid 1px $gray-10;
    border-radius: 2px;
    display: grid;
}

.unselected-checkbox::after{
    content: 'Option';
    display: inline;
    color: $gray-10;
    position: relative;
    left: 20px;
    bottom: 2px;
    @include body-02('Rubik');
    font-family: 'Rubik', sans-serif;
}

.unselected-checkbox-disabled{
    border: solid 1px $gray-70;
    display: grid;
}

.unselected-checkbox-disabled::after{
   
    content: 'Option';
    display: inline;
    color: $gray-70;
    position: relative;
    left: 20px;
    bottom: 2px;
    @include body-02('Rubik');
    font-family: 'Rubik', sans-serif;  
}

.unselected-checkbox-focus{
    border: solid 1px $blue-50;
    padding: $spacing-01;
    width: 72px;
    height: fit-content;
}

.selected-container{
    position: relative;
}

.select-block{
    border-radius: 1px;
    background-color: $gray-10;
    position: absolute;
    right: 27%;
    top: 27%;
}

.select-block-disabled{
    border-radius: 1px;
    background-color: $gray-70;
    position: absolute;
    right: 27%;
    top: 27%;
}
