@import 'typography/typography-tokens';
@import 'colors/color-use-tokens';
@import 'spacing/spacing-tokens';
@import 'spacing/radius-tokens';

body {
    background-color: $ui-background;
}

// Typography styling
//HEADINGS
#heading-01{
    @include heading-01($font-name);
}

#heading-02{
    @include heading-02($font-name);
}

#heading-03{
    @include heading-03($font-name);
}

#heading-04{
    @include heading-04($font-name);
}
 
#heading-05{  
    @include heading-05($font-name);
}

#heading-06{
    @include heading-06($font-name);
}

//SUBTITLES
#subtitle-01 {
    @include subtitle-01($font-name);
}

#subtitle-02 {
    @include subtitle-02($font-name);
}

//BODY
#body-01 {
    @include body-01($font-name);
}

#body-02 {
    @include body-02($font-name);
}

//SUPPORTIVE
#button {
    @include button($font-name);
}

#caption {
    @include caption($font-name);
}

#overline {
    @include overline($font-name);
}
//typography styling end


//BUTTON STYLING

.button {
    position: relative;
    width: 6.5rem;
    height: 2.5rem;
    display: flex;
    color: $white;
    cursor: pointer;
    text-align: center;
    border-radius: $radius-micro;
}

.button_icon {
    justify-content: center;
    width: 8.25rem;
    height: 2.563rem;
    display: flex;
    align-items: center;
    color: $white;
    cursor: pointer;
    position: relative;
    border-radius: $radius-micro;
}

.left_icon {
    position: absolute;
    left: $spacing-05;
    margin: auto;
    padding: 0;
}

.right_icon {
    margin: auto;
    padding: 0;
    position: absolute;
    left: 92px;
}

.button_base_state {
    background-color: $gray-90;
    color: $white;
}


.button_hide_focus{
    border:none;
}

.button_text{
    position: absolute;
    bottom: -3px;
    left: $spacing-05;
    @include button('Rubik-Regular');
    font-family: 'Rubik-Regular', sans-serif;
}

.button_icon_text{
    position: absolute;
    @include button('Rubik');
    left: 3.5rem;
    margin: auto;
    font-family: 'Rubik', sans-serif;
}


.button_tertiary_text{
    position: absolute;
    @include button('Rubik');
    left: 3.5rem;
    margin: auto;
    color: $blue-50;
    font-family: 'Rubik', sans-serif;
}

.button_tertiary_text_right{
    position: absolute;
    @include button('Rubik');
    left: 1.75rem;
    margin: auto;
    color: $blue-50;
    font-family: 'Rubik', sans-serif;
}

.interactive_focus{
    width: fit-content;
    padding: $spacing-01;
    border: solid 2px $blue-50;
    border-radius: $radius-small;
}

//PRIMARY BUTTON STYLES
.primary_button_active_state {
    background-color: $blue-50;
}

.primary_button_hover_state {
    background-color: $blue-60;
}

.primary_button_clicked_state{
    background-color: $blue-40;
}

.primary_button_disabled_state{
    background-color: $gray-70;
}

//TERTIARY BUTTON STYLES
.tertiary_button_active_state {
    background-color: none;
}

.tertiary_button_hover_state {
    background-color: $gray-80;
}

.tertiary_button_clicked_state{
    background-color: none;
}

.tertiary_button_disabled_state{
    background-color: none;
}

//SECONDARY BUTTON STYLES
.secondary_button_active_state {
    background-color: $gray-20;
}

.secondary_button_hover_state {
    background-color: $gray-30;
}

.secondary_button_clicked_state{
    background-color: $gray-10;
}

.secondary_button_disabled_state{
    background-color: $gray-70;
}


//DANGER BUTTON STYLES
.danger_button_active_state {
    background-color: $red-50;
}

.danger_button_hover_state {
    background-color: $red-70;
}

.danger_button_clicked_state{
    background-color: $red-30;
}

.danger_button_disabled_state{
    background-color: $gray-70;
}


//LINK STYLES
.link-container{
    width: fit-content;
    height: fit-content;
}

.link-container-focus{
    border: solid 1px $blue-50;
    padding: $spacing-01 $spacing-01;
}

.link-body-01{
    @include body-01('Rubik');
    font-family: 'Rubik', sans-serif;
}

.link-body-02{
    @include body-02('Rubik');
    font-family: 'Rubik', sans-serif;
}

.link-active{
    color: $blue-50;
}

.link-hover{
    color: $blue-60;
}

.link-clicked{
    color: $blue-40;
}

.link-disabled{
    color: $gray-70;
}

//TAG STYLES
.tag-container{
    margin: $spacing-02;
   display: flex;
   align-items: center; 
   justify-content: center;
   border-radius: 1rem;
   width: 4.56rem;
   height: 1.875rem;
   background-color: $blue-50; 
}

.tag-text{
    @include caption('Rubik');
    font-family: 'Rubik', sans-serif;
    color: $white;
}

.tag-container-interactive{
    margin: $spacing-02;
    padding: 0 $spacing-03;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 1rem;
    width: 93px;
    height: 32px;
    background-color: $blue-50; 
}

.interactive-icon{
    margin-left: $spacing-02;
    cursor: pointer;
}

.base-group{
    display: flex;
}

.tag-base-style{
    background-color: $gray-90;
}

//RADIO BUTTON STYLING
.unselected-radio{
    width: $spacing-03;
    height: $spacing-03;
    border: solid 1px $gray-10;
    border-radius: 50%;
    display: grid;
}

.unselected-radio::after{
    content: 'Option';
    display: inline;
    color: $gray-10;
    position: relative;
    left: 20px;
    bottom: 2px;
    @include body-02('Rubik');
    font-family: 'Rubik', sans-serif;
}

.unselected-radio-disabled{
    border: solid 1px $gray-70;
    display: grid;
}

.unselected-radio-disabled::after{
    content: 'Option';
    display: inline;
    color: $gray-70;
    position: relative;
    left: 20px;
    bottom: 2px;
    @include body-02('Rubik');
    font-family: 'Rubik', sans-serif;  
}

.unselected-radio-focus{
    border: solid 1px $blue-50;
    padding: $spacing-01;
    width: 72px;
    height: fit-content;
}

.select-radio{
    border-radius: 50%;
    background-color: $gray-10;
    position: absolute;
    right: 27%;
    top: 27%;
}

.select-radio-disabled{
    border-radius: 50%;
    background-color: $gray-70;
    position: absolute;
    right: 27%;
    top: 27%;
    width: 8px;
    height: 8px;
}

//CHECKBOX STYLES
.unselected-checkbox{
    width: $spacing-03;
    height: $spacing-03;
    border: solid 1px $gray-10;
    border-radius: 2px;
    display: grid;
}

.unselected-checkbox::after{
    content: 'Option';
    display: inline;
    color: $gray-10;
    position: relative;
    left: 20px;
    bottom: 2px;
    @include body-02('Rubik');
    font-family: 'Rubik', sans-serif;
}

.unselected-checkbox-disabled{
    border: solid 1px $gray-70;
    display: grid;
}

.unselected-checkbox-disabled::after{
   
    content: 'Option';
    display: inline;
    color: $gray-70;
    position: relative;
    left: 20px;
    bottom: 2px;
    @include body-02('Rubik');
    font-family: 'Rubik', sans-serif;  
}

.unselected-checkbox-focus{
    border: solid 1px $blue-50;
    padding: $spacing-01;
    width: 72px;
    height: fit-content;
}

.selected-container{
    position: relative;
}

.select-block{
    border-radius: 1px;
    background-color: $gray-10;
    position: absolute;
    right: 27%;
    top: 27%;
}

.select-block-disabled{
    border-radius: 1px;
    background-color: $gray-70;
    position: absolute;
    right: 27%;
    top: 27%;
}

.select-line {
    background-color: $gray-10;
    border: solid 1px $gray-10;
    position: absolute;
    top: 45%;
    left: 2px;
    border-radius: 1px;
}

.select-line-disabled{
    border-radius: 1px;
    background-color: $gray-70;
    position: absolute;
    border: solid 1px $gray-70;
    left: 2px;
    top: 45%;
}

.group-label{
    @include caption('Rubik');
    font-family: 'Rubik', sans-serif;  
    color: $gray-30;
}

.group-label-horizontal{
    color: $gray-30;
    @include caption('Rubik');
    font-family: 'Rubik', sans-serif;
    margin: $spacing-03;
}

.group-items-vertical{
    margin: $spacing-03 0;
}

.group-items-horizontal{
    margin: 0 $spacing-06;
}

// TOGGLE STYLES

.toggle-and-label-container{
    display: grid;
    width: 66px;
    height: 46px;
}

.toggle-label{
    font-family: 'Rubik', sans-serif;  
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $gray-30;
    width: fit-content;
    width: 150px;
    margin-bottom: $spacing-02;
}

.toggle-container-off{
    position: relative;
    width: 48px;
    height: 24px;
    border-radius: $radius-medium;
    background-color: $gray-70;
    cursor: pointer;
}

.toggle-button-off{
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: $radius-full;
    background-color: $white;
    margin: $spacing-01;
    cursor: pointer;
}

.toggle-container-on{
    position: relative;
    width: 48px;
    height: 24px;
    border-radius: $radius-medium;
    background-color: $blue-50;
}

.toggle-button-on{
    position: absolute;
    right: 0;
    width: 1rem;
    height: 1rem;
    border-radius: $radius-full;
    background-color: $white;
    margin: $spacing-01;
    cursor: pointer;
}


// small toggle 
.small-toggle-and-label-container{
    display: grid;
    width: 2rem;
    height: 1rem;
}

.small-toggle-label{
    font-family: 'Rubik', sans-serif;  
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $gray-30;
    width: fit-content;
    width: 150px;
    margin-bottom: $spacing-02;
}

.small-toggle-container-off{
    position: relative;
    width: 32px;
    height: 16px;
    border-radius: $radius-medium;
    background-color: $gray-70;
    cursor: pointer;
}

.small-toggle-button-off{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: $radius-full;
    background-color: $white;
    margin: $spacing-01;
    cursor: pointer;
}

.small-toggle-container-on{
    position: relative;
    width: 32px;
    height: 16px;
    border-radius: $radius-medium;
    background-color: $blue-50;
}

.small-toggle-button-on{
    position: absolute;
    right: 0;
    width: 8px;
    height: 8px;
    border-radius: $radius-full;
    background-color: $white;
    margin: $spacing-01;
    cursor: pointer;
}

//PASSWORD INPUT STYLE
.password-input-container{
        /* Auto Layout */
        display: grid;
        display: -ms-grid;
        row-gap: 8px;
        width: fit-content;
        position: relative;
}

.password-label-container{
        @include caption($font-name);
        font-family: 'Rubik-Regular', sans-serif;
        /* $gray-30 */
        color: $gray-30;
}

.password-input-field{
        width: 226px;
        height: auto;
        @include body-02($font-name);
        font-family: 'Rubik-Regular', sans-serif;
        padding: 12px 16px;
        color: $gray-10;
        border-radius: $radius-micro;
        border: none;
        background-color: $gray-90;

}


.password-icon{
    position: absolute;
    top: 66.5%;
    right: 16px;
    cursor: pointer;
}

.error-icon{
    position: absolute;
    top: 68%;
    right: 16px;
    cursor: pointer;
}

.error{
    border: solid 1px red;
}

.error-text{
    @include caption($font-name);
    font-family: 'Rubik-Regular', sans-serif;
    color: red;
    position: absolute;
    top: 90%;
    right: 0;
}

.disabled-txt{
    color: $gray-70 !important;
} 

.disabled-bg{
    background-color: $gray-90;
}

.disabled-placeholder{
    color: $gray-70 !important;
}

//TEXT INPUT STYLE
.text-input-container{
    /* Auto Layout */
    display: grid;
    display: -ms-grid;
    row-gap: 8px;
    width: fit-content;
    position: relative;
}

.text-label-container{
    @include caption($font-name);
    font-family: 'Rubik-Regular', sans-serif;
    /* $gray-30 */
    color: $gray-30;
}

.text-input-field{
    width: 226px;
    height: auto;
    @include body-02($font-name);
    font-family: 'Rubik-Regular', sans-serif;
    padding: 12px 16px;
    color: $gray-10;
    border-radius: $radius-micro;
    border: none;
    background-color: $gray-90;

}

//DROPDOWN STYLES
.dropdown-label{
    @include caption($font-name);
    font-family: 'Rubik-Regular', sans-serif;
    color: $gray-30;
}

.dropdown-base{
    width: $spacing-12;
    display: flex;
    flex-direction: column;
}

.dropdown-picker{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: $spacing-065;
    background-color: $gray-90;
    border-radius: $radius-micro;
    cursor: pointer;
}

.choice{
    padding-left: $spacing-04;
    @include body-02($font-name);
    font-family: 'Rubik-Regular', sans-serif;
    color: $gray-40;
}

.icon-down{
    position: absolute;
    right: $spacing-04;
}

.dropdown-list{
    margin-top: $spacing-01;
    max-height: $spacing-12;
    flex-direction: column;
    width: $spacing-12;
    display: flex;
}

.option{
    @include body-02($font-name);
    font-family: 'Rubik-Regular', sans-serif;
    width: 100%;
    height: $spacing-065;
    background-color: $gray-90;
    border-bottom: 1px solid $gray-80;
    color: $gray-40;
    align-items: center;
    display: flex;
    border-radius: $radius-micro;
    cursor: pointer;
}

.option span{
    margin-left: $spacing-04;
}

.option:hover{
    color: $gray-10;
}

.error{
    border: 1px solid $red-50;
}

.small-error-text{
    @include caption($font-name);
    font-family: 'Rubik-Regular', sans-serif;
    color: $red-50;
    margin-top: $spacing-02;
    align-self: end;
}

.disabled-text{
    color: $gray-70;
}

.icon-down-disabled{
    opacity: 0.2;
}

.datepicker-container{
    display: block;
}

.fields-container{
    display: flex;
    flex-direction: row;
    width: $spacing-12;
    height: $spacing-065;
    margin-top: $spacing-01;
}

.day{
    width: $spacing-07;
    border-radius: $radius-micro;
    background-color: $gray-90;
    display: flex;
}

.day-input{
    margin: auto;
    text-align: center;
    @include body-02($font-name);
    font-family: 'Rubik-Regular', sans-serif;
    color: $gray-40;
    width: 80%;
    background-color: $gray-90;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input::placeholder{
    color: $gray-40;
}
.month{
        margin-left: $spacing-02;
        width: $spacing-09;
        resize: both;
        border-radius: $radius-micro;
        background-color: $gray-90;
        display: flex;
        flex-direction: column;
        position: relative;
}

.selector{
    position: absolute;
    width: auto;
    height: 100%;
    border: none;
    border-radius: $radius-micro;
    background-color: transparent;
    display: flex;
    align-items: center;
    align-content: center;
    cursor: pointer;
    }

.selector span{
    @include body-02($font-name);
    font-family: 'Rubik-Regular', sans-serif;
    color: $gray-40;
    position: relative;
    left: $spacing-04;
}    

.icon-d{
    position: relative;
    left: 1.25rem;
}

.months-container{
    position: absolute;
    top: 100%;
    margin-top: $spacing-01;
    width: 100%;
    height: auto;
    flex-direction: column;
    background-color: $gray-90;
    border-radius: $radius-micro;
}

.months-container div{
    width: 100%;
    height: $spacing-065;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    @include body-02($font-name);
    font-family: 'Rubik-Regular', sans-serif;
    color: $gray-40;
    border-bottom: 1px solid $gray-80;
}

.months-container div:hover{
    color: $gray-10;
}


.year{
    margin-left: $spacing-02;
    width: $spacing-085;
    border-radius: $radius-micro;
    background-color: $gray-90;
    display: flex;
    flex-direction: row;
    position: relative; 
}

.year input{
    padding-top: $spacing-01;
    position: absolute;
    border: none;
    background-color: transparent;
    border: none;
    width: $spacing-05;
    right: $spacing-02;
    top: $spacing-02;
    @include body-02($font-name);
    font-family: 'Rubik-Regular', sans-serif;
    color: $gray-10;
}

.year input::placeholder{
    padding-top: 3px;
}

.year span{
    position: absolute;
    top: $spacing-03;
    left: $spacing-04;
    @include body-02($font-name);
    font-family: 'Rubik-Regular', sans-serif;
    color: $gray-10;
}

