//All shadow tokens used accross the Design System.

@import '../colors/color-tokens';

$shadow-01: 0px 10px 10px $shadow-01;
$shadow-02: 0px 10px 30px $shadow-02;
$shadow-03: 0px 10px 50px $shadow-03;