// All spacing tokens used across the design system.

$spacing-01: 0.25rem; //4px
$spacing-02: 0.5rem; //8px
$spacing-03: 0.75rem; //12px
$spacing-04: 1rem; //16px
$spacing-05: 1.5rem; //24px
$spacing-06: 2rem; //32px
$spacing-07: 3rem; //48px
$spacing-08: 4rem; //64px
$spacing-09: 6rem; //96px
$spacing-10: 8rem; //128px
$spacing-11: 12rem; //192px
$spacing-12: 16rem; //256px
$spacing-13: 24rem; //384px
$spacing-14: 32rem; //512px
$spacing-15: 40rem; //640px
$spacing-16: 48rem; //768px