// All spacing tokens used across the design system.

$spacing-01: 0.25rem;
$spacing-02: 0.5rem;
$spacing-03: 0.75rem;
$spacing-04: 1rem;
$spacing-05: 1.5rem;
$spacing-06: 2rem;
$spacing-065: 2.5rem;
$spacing-07: 3rem;
$spacing-08: 4rem;
$spacing-085: 4.5rem;
$spacing-09: 6rem;
$spacing-10: 8rem;
$spacing-11: 12rem;
$spacing-111: 14rem;
$spacing-12: 16rem;
$spacing-13: 24rem;
$spacing-14: 32rem;
$spacing-15: 40rem;
$spacing-16: 48rem;