//All colors used in the design system.

//GRAYSCALE COLORS
$gray-10-50: hsla(0,0,10, 0.5); //Gray 10 @ 50%

$gray-10: hsl(0,0,10); //Gray 10
$gray-20: hsl(0,0,20); //Gray 20
$gray-30: hsl(0,0,30); //Gray 30

$gray-40-07: hsla(0,0,40,0.07); //Gray 40 @ 7%
$gray-40-21: hsla(0,0,40, 0.21); //Gray 40 @ 21%
$gray-40-35: hsla(0,0,40, 0.35); //Gray 40 @ 35%

$gray-40: hsl(0,0,40); //Gray 40 
$gray-50: hsl(0,0,50); //Gray 50
$gray-60: hsl(0,0,60); //Gray 60
$gray-70: hsl(0,0,70); //Gray 70
$gray-80: hsl(0,0,80); //Gray 80
$gray-90: hsl(0,0,90); //Gray 90

$white: hsl(0,0,100); //White

//BRAND COLORS
$blue-10: hsl(220,70,10); //Blue 10
$blue-20: hsl(220,70,20); //Blue 20
$blue-30: hsl(220,70,30); //Blue 30
$blue-40: hsl(220,70,40); //Blue 40
$blue-50: hsl(220,70,50); //Blue 50
$blue-60: hsl(220,70,60); //Blue 60
$blue-70: hsl(220,70,70); //Blue 70
$blue-80: hsl(220,70,80); //Blue 80
$blue-90: hsl(220,70,90); //Blue 90

//SEMANTIC COLORS
$red-30: hsl(357,76,30);  //Red 30
$red-50: hsl(357,76,50); //Red 50
$red-70: hsl(357,76,70); //Red 70

$yellow-40: hsl(47,98,40); //Yellow 40
$yellow-60: hsl(47,98,60); //Yellow 60
$yellow-80: hsl(47,98,80); //Yellow 80

$green-20: hsl(138,64,20); //Green 20
$green-40: hsl(138,64,40); //Green 40
$green-60: hsl(138,64,60); //Green 60