// Color use across the design system.

@import 'color-tokens';

//UI
$ui-background: $white; //White: Primary page background
$ui-01: $gray-90; //Gray 90: Container background for $ui-background | Secondary page background
$ui-02: $white; //White: Container background for $ui-01
$ui-03: $gray-80; //Gray 80: Subtle borders | Tertiary background
$ui-04: $gray-50; //Gray 50: Medium contrast border
$ui-05: $gray-10; //Gray 10: High contrast border | Emphasis elements

//TEXT 
$text-01: $gray-10; //Gray 10: Primary text | Header text | Body text | Hover text for $text-02
$text-02: $gray-30; //Gray 30: Secondary text | Input labels
$text-03: $gray-40; //Gray 40: Placeholder text
$text-04: $white; //White: Text on all $interactive-01 states | Text on all $interactive-02 states | Text on all $interactive-danger states
$text-05: $gray-50; //Gray 50: Tertiary text | Help text
$disabled-text: $gray-70; //Gray 70: Disabled text on disabled interactive elements
$text-error: $red-50; //Red 50: Error message text

//ICONS
$icon-01: $gray-10; //Gray 10: Default icon color
$icon-02: $white; //White: Icon color on all $interactive-01 states | Icon color on all $interactive-02 states | Icon color on all $interactive-danger states

//SEMATIC
$error-01: $red-30; //Red 30: Indicate error
$error-02: $red-50; //Red 50: Indicate error 
$error-03: $red-70; //Red 70: Indicate error

$warning-01: $yellow-40; //Yellow 40: Indicate warning
$warning-02: $yellow-60; //Yellow 60: Indicate warning
$warning-03: $yellow-80; //Yellow 80: Indicate warning

$success-01: $green-20; //Green 20: Indicate success
$success-02: $green-40; //Green 40: Indicate success
$success-03: $green-60; //Green 60: Indicate success

//INTERACTIVE 
$interactive-01: $blue-50; //Blue 50: Active state for primary interactive elements
$hover-interactive-01: $blue-60; //Blue 60: Hover state for primary interactive elements
$clicked-interactive-01: $blue-40; //Blue 40: Clicked state for primary interactive elements
$disabled-interactive-01: $gray-70; //Gray 70: Disabled state for primary interactive elements

$interactive-02: $gray-20; //Gray 20: Active state for secondary interactive elements
$hover-interactive-02: $gray-30; //Gray 30: Hover state for secondary interactive elements
$clicked-interactive-02: $gray-10; //Gray 10: Clicked state secondary interactive elements
$disabled-interactive-02: $gray-70; //Gray 70: Disabled state for secondary interactive elements

$interactive-03: $blue-50; //Blue 50: Active and Hover state for tertiary interactive elements (Text & Icons)
$hover-interactive-03: $gray-80; //Gray 80: Hover background for tertiary interactive elements
$clicked-interactive-03: $blue-50; //Blue 50: Clicked state for tertiary interactive elements (Text & Icons)
$disabled-interactive-03: $gray-70; //Gray 70: Disabled state for tertiary interactive elements (Text & Icons)

$interactive-danger: $red-50; //Red 50: Active state for danger interactive elements
$hover-interactive-danger: $red-70; //Red 70: Hover state for danger interactive elements
$clicked-interactive-danger: $red-30; //Red 30: Clicked state for danger interactive elements
$disabled-interactive-danger: $gray-70; //Gray 70: Disabled state for danger interactive elements

$interactive-focus: $blue-50; //Blue 50: Focus border | Focus underline

//FIELDS
$field-01: $gray-90; //Gray 90: Input field for $ui-background
$field-02: $white; //White: Input field for $ui_01
$disabled-fields: $gray-70; //Gray 70: Disabled fields

//LINKS
$link-01: $blue-50; //Blue 50: Primary links
$visited-link: $blue-40; //Blue 70: Visited links

//SKELETONS
$skeleton-01: $gray-90; //Gray 90: Skeleton text for $ui-background | Skeleton elements for $ui-background
$skeleton-02: $white; //White: Skeleton text for $ui-01 | Skeleton elements for $ui-01

//HIGHLIGHTS
$highlight-01: $blue-50; //Blue 50: Selected elements | Active elements

//SHADOWS
$shadow-01: $gray-40-07; //Gray 40 @ 7%: Light shadow
$shadow-02: $gray-40-21; //Gray 40 @ 21%: Medium shadow
$shadow-03: $gray-40-35; //Gray 40 @ 35%: Dark shadow

//OVERLAY
$overlay-01: $gray-10-50; //Gray 10 @ 50%: Background overlay