//fontface chosen
$font-name: 'Rubik';

//HEADINGS 
//header-01
@mixin heading-01($font-family) {
    font-family: $font-family;
    font-weight: 300;
    font-size: 72px;
    letter-spacing: 0;
}

//header-02
@mixin heading-02($font-family) { 
    font-family: $font-family;
    font-weight: 300;
    font-size: 60px;
    letter-spacing: 0;
}

//header-03
@mixin heading-03($font-family) {
    font-family: $font-family;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0;    
}

//header-04
@mixin  heading-04($font-family) {
    font-family: $font-family;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0;
}

//header-05
@mixin heading-05($font-family) {
    font-family: $font-family;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0;
}

//header-06
@mixin heading-06($font-family) {
    font-family: $font-family;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0;
}

//SUBTITLES
//subtitle-01
@mixin subtitle-01($font-family) {
    font-family: $font-family;
    font-weight: 500;
    font-size: 18;
    letter-spacing: 0;
}

//subtitle-02
@mixin subtitle-02($font-family) {
    font-family: $font-family;
    font-weight: 500;
    font-size: 16;
    letter-spacing: 0;
}


//BODY
//body-01
@mixin body-01($font-family) {
    font-family: $font-family;
    font-weight: 400;
    font-size: 16;
    letter-spacing: 0;
}

//body-02
@mixin body-02($font-family) {
    font-family: $font-family;
    font-weight: 400;
    font-size: 14;
    letter-spacing: 0;
}

//SUPPORTIVE
//button
@mixin button($font-family) {
    font-family: $font-family;
    font-weight: 500;
    font-size: 14;
    letter-spacing: 0;
}

@mixin caption($font-family) {
    font-family: $font-family;
    font-weight: 400;
    font-size: 12;
    letter-spacing: 0;
}

@mixin overline($font-family) {
    font-family: $font-family;
    font-weight: 400;
    font-size: 12;
    letter-spacing: 0;
}
